:root {
    --prime: #1b2431;
    --second: #ff6e48;
}

div{
    border: 0px solid #F2F
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 10px;
    background-color: var(--prime);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: arial;
    color: white;

}

img{
    max-width: 100%;
    max-height: 100%;
}

h1{
    font-size: 5vh;
    line-height: .3vh;
}

h2{
    font-size: 2.5vh;
    line-height: 0vh;
}

h3{
    font-size: 2vh;
}

#topper{
    width: 100%;
    height: 10%;
    text-align: center;
    top: 0px;
}

#content{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#testThing{

}

.post{
    width: 20%;
    height: 45%;
    padding: 2vh;
    margin: 5px;
    border-width: 0px;
    border-color: var(--prime);
    color: black;
}

.title{
    text-align: center;
}

.body{
    
    font-size: 1.8vh;
}

#lower{
    width: 100%;
    height: 5%;
    bottom: 0px;
}




