:root {
    --border-prop: 0px solid #F2F;
    --header-height: 10%
}

body, html{
    background: #222;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 10px;
    background-color: var(--prime);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: arial;
    color: white;

}

